<!DOCTYPE html>
<html>
  <head>
    <title>CrowdSound</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://a-v2.sndcdn.com/assets/images/sc-icons/favicon-2cadd14b.ico" rel="icon">
    <link href="https://a-v2.sndcdn.com/assets/images/sc-icons/ios-a62dfc8f.png" rel="apple-touch-icon">
    <link href="https://a-v2.sndcdn.com/assets/images/sc-icons/fluid-b4e7a64b.png" rel="fluid-icon">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
